html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #111 !important;
    color: #ddd !important;
}

h1, h2, h3, h4 {
    margin: 1em 0 .5em;
    line-height: 1.25
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.2em
}

label {
    color: #ddd !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none !important;
    transition: all 0.3s;
}

input:not(.btn),
input:not(.btn):focus,
textarea {
    background-color: black !important;
    border: 1px solid #222 !important;
    color: #ddd !important;
}

textarea {
    resize: none !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-background-color: black !important;
    -webkit-border: 1px solid #222 !important;
    -webkit-color: #ddd !important;
    -webkit-box-shadow: 0 0 0px 1000px black inset !important;
    -webkit-text-fill-color: #ddd !important;
    box-shadow: 0 0 0px 1000px black inset !important;
    color: #ddd !important;
    border: 1px solid #222 !important;
    background-color: black !important;
}

.form-control:focus {
    box-shadow: 0 0 8px 0.15rem rgba(185, 218, 248, 0.25) !important;
}

#myNavbar {
    background-color: black !important;
    border-bottom: 1px solid #444;
    box-shadow: 0 5px 8px black;
    margin-bottom: 10px;
    position: fixed;
    width: calc(100% - 250px);
    z-index: 10;
    height: 60px;
    transition: all 0.3s ease-in-out;
}

#myNavbar.side-collapsed {
    width: calc(100% - 80px);
}

#myNavbar a {
    color: #ddd !important;
}

#myNavbar .navbar-text {
    color: #ddd;
    font-weight: bold;
    padding: .5rem 5px;
}

#myNavbar .nav-item:hover a {
    color: #fff !important;
}

.bg-black {
    background-color: black !important;
}

.alert {
    position: fixed !important;
    top: 60px;
    right: 20px;
    z-index: 500 !important;
    opacity: 0.8 !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    height: 100% !important;
}

#sidebar {
    display: flex;
    flex-flow: column;
    min-width: 250px;
    max-width: 250px;
    background: black;
    color: #ddd;
    transition: all 0.3s;
    z-index: 50 !important;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
    color: #ddd;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: black;
    border-bottom: 3px solid #aaa;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul.last-component {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 2rem;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border: 1px solid black;
}

#sidebar ul li a:hover {
    color: #333;
    background: #ddd;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #333;
    background: #ddd;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: black;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.components > li > a {
    cursor: default !important;
}

.components > li > a:hover {
    background: none !important;
    color: #ddd !important;
}

.submenu-header {
    position: relative;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#users-counter {
    margin-left: .5rem;
    font-size: 12px;
    color: #999;
}

#sidebar.active .submenu-header {
    justify-content: center !important;
}

#sidebar.active #users-counter {
    margin-left: 0 !important;
}

.sidebar-divider {
    height: 1px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.6);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: .4rem;
}

#show-create-channel-btn {
    cursor: pointer;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content-container {
    width: 100%;
    margin-left: 250px;
    transition: all 0.3s ease-in-out;
}

.content-collapse {
    margin-left: 80px !important;
}

#content {
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
    margin-top: 60px;
    height: calc(100% - 60px);
    background-color: #555;
}

#chat-card > .card-body p {
    padding: .2rem 0 !important;
    font-size: 13px !important;
    font-style: italic !important;
    color: #888 !important;
}

#join-room {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    .content-container {
        margin-left: 0px;
        transition: all .3s ease-in-out;
    }

    #myNavbar {
        width: 100%;
    }

    .content-collapse {
        margin-left: 80px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    height: 100%;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.8) !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 80px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}

.online_icon_2 {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #4cd137;
    border-radius: 50%;
    border: 1.5px solid white;
    right: -11.5rem;
    transition: all .3s ease-in-out;
}

#sidebar.active .online_icon_2 {
    bottom: -.3rem;
    right: .5em;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 10px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_username_send{
position: absolute;
left: 10px;
top: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
.msg_username{
    position: absolute;
    right: 10px;
    top: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
.msg_head{
position: relative;
}
.action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
background-color: rgba(240,240,240,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}