<div id="private-card" class="card" hidden>
    <div class="card-header msg_head">
        <div class="d-flex bd-highlight">
            <div class="img_cont">
                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                <span class="online_icon"></span>
            </div>
            <div class="user_info">
                <span id="private-channel-name"></span>
                <p id="private-channel-messages-count">0 Messages</p>
            </div>
        </div>
        <span class="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
        <div class="action_menu">
            <ul>
                <li class="clear-chat"><i class="fas fa-ban"></i>Clear Chat</li>
            </ul>
        </div>
    </div>
    <div id="private-body" class="card-body msg_card_body">
    </div>
    <div class="card-footer">
        <div class="input-group">
            <div class="input-group-append">
                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
            </div>
            <textarea id="private-message-box" name="message-box" class="form-control type_msg" placeholder="Type your message..."></textarea>
            <div class="input-group-append">
                <span id="send-private-button" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
            </div>
        </div>
    </div>
</div>